:root {
    --theme-main-color: rgb(9, 90, 204);
    --theme-alt-color: rgba(240, 187, 39, 0.945);
    --theme-accent-color: rgb(130, 130, 130);
    --theme-hover-color: white;
    --theme-border-color: var(--theme-accent-color);
    --theme-gradient: linear-gradient(to right, rgba(0,0,0,1) 10%,rgba(80,80,80,1) 50%);
}

div {
    color: var(--theme-main-color);
}

.ratingsCard {
    width: 210px;
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    border-width: .1px;
    border-color: gray;
}

.ratingsCardHeader {
    color: var(--theme-alt-color);
    display: flow-root;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1;
    border-color: var(--theme-main-color);
    width: 170px;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-wrap: nowrap;
}

.starCount {
    color: var(--theme-accent-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
    vertical-align: bottom;
}

.reviews {
    font-style: italic;
    font-size: 12px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    color: dimgrey;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 80px;
}

.reviewDetails {
    display: none;
}

